
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083b4c;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    width: 600px;
    margin: auto;
    
}

ul>*{
    aspect-ratio: 1/1;
    width: calc(100% * 1/7 - 10px + 10px/7);
    background-color: #1389b2;
    display: flex;
    justify-content: center;
    align-items: center;

}